/* Foundation Overrides
================================================== */
html, body {
    font-size: 100%;
}

@media screen and (min-width: 120em) {
html, body {
    font-size: 110%;
}
}
body {
    background: #fff;
    color: #888;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.row {
    position: relative;
    width: 90%;
    max-width: 90rem;
}
.row .row {
    margin-left: -1rem;
    margin-right: -1rem;
}
.row-left {
    max-width: 95%;
    margin-left: 5%;
    margin-right: 0;
}
.row-right {
    max-width: 95%;
    margin-left: 0;
    margin-right: 5%;
}
.column, .columns {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}
img, svg, iframe {
    width: 100%;
    max-width: 100%;
}
hr {
    max-width: 100%;
    box-sizing: border-box;
}
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea, select {
    background-color: transparent;
    margin: 0 0 .7rem;
}
[type=color]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=datetime]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, textarea:focus {
    border: 1px solid #8a8a8a;
    background-color: transparent;
}
.dropdown-pane {
    background-color: #fefefe;
    border: 1px solid #cacaca;
    display: block;
    padding: 1rem;
    position: absolute;
    left: 0.5rem!important;
    width: 100%;
    max-width: 100%;
    z-index: 10;
    border-radius: 0;
}
.dropdown.menu .has-submenu.is-down-arrow > a::after {
    border-color: #222 transparent transparent;
}
.dropdown.menu .has-submenu.is-right-arrow > a::after {
    border-color: transparent transparent transparent #222;
}
.is-drilldown-submenu-parent > a::after {
    border: 6px inset;
    border-color: transparent transparent transparent #222;
}
.js-drilldown-back::before {
    border-color: transparent #222 transparent transparent;
}
.reveal-overlay {
    background-color: rgba(10,10,10,.5);
}
table tbody, table tfoot, table thead {
    border: 0;
    background-color: #fff;
}
table tbody td, table tbody th {
    padding: .5rem 0;
}
table.b-rows tbody tr {
    border-bottom: 1px solid #ddd;
}
table tbody tr:nth-child(even) {
    background-color: #fff;
}
/* Typography
================================================== */
.wf-loading ul.main-menu li a, .wf-loading h1, .wf-loading .h1, .wf-loading h2, .wf-loading .h2, .wf-loading h3, .wf-loading .h3, .wf-loading h4 .wf-loading .h4 {
    visibility: hidden!important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}
h1, .h1 {
    font-size: 2rem;
}
h2, .h2 {
    font-size: 1.1rem;
}
h3, .h3 {
    font-size: 1rem;
}
h4, .h4 {
    font-size: 1rem;
}
h5, .h5 {
    font-size: 1rem;
}
h6, .h6 {
    font-size: 1rem;
}
p {
    font-size: 1rem;
}
.lead {
    font-size: 125%;
    line-height: 1.6;
}
.small {
    font-size: 80%;
}
/* Links
================================================== */
a, a:visited {
    color: #222;
    text-decoration: none;
}
a:hover, a:focus {
    color: #999;
}
/* Buttons
================================================== */

button, .button, .productSubmitInput, #catshopbuy, .cat_button, .cartLink, input[type="file"], .pagination.webapp li.pag-prev, .pagination.webapp li.pag-next, .system-message input[type=submit], ul > li.productsearchPagination.column > a {
    cursor: pointer;
    border: 2px solid #222;
    border-radius: 0;
    padding: 0.6rem 2rem;
    margin: 1rem 0;
    font-size: 1rem;
    background: transparent;
    color: #222;
    text-decoration: none!important;
}
button a, .button a, a.button, .productSubmitInput a, #catshopbuy a, .cat_button a, .cartLink a, input[type="file"] {
    text-decoration: none;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: transparent;
    color: #222;
    border: 2px solid #222;
}
.pagination a:hover, .pagination button:hover {
    background: transparent;
}
.productSubmitInput {
    margin-left: 1rem;
}
.hollow.button {
    border: 2px solid #fff;
    color: #fff;
}
.white.hollow.button {
    border: 2px solid #222;
    color: #222;
}
.button.tiny, input.update {
    padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
    font-size: 0.6875rem;
}
.link.button {
    border: 0;
    padding: 0;
    margin: 0;
}
.link.button:hover, .link.button:focus {
    border: 0;
    background: transparent;
}
.close-button, .close-button:hover, .close-button:focus, #close-button:hover {
    position: absolute;
    color: #222;
    right: 1rem;
    top: .5rem;
    font-size: 2em;
    line-height: 1;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
}
.cartLink {
    position: absolute;
    margin-top: 4rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.facebook.button {
    border: 2px solid #3b5998;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    background-image: url(/Images/Icons/facebook.svg);
    background-repeat: no-repeat;
    background-position: 15%;
    background-size: 2.5rem;
}
/* Colours
================================================== */

.black {
    color: #222!important;
}
.black-bg {
    background-color: #222;
}
.grey {
    color: #f7f7f7!important;
}
.grey-bg {
    background-color: #f7f7f7;
}
.white {
    color: #fff!important;
}
.white-bg {
    background-color: #fff;
}
/* Utility
================================================== */
.m0 {
    margin: 0!important;
}
.mt0 {
    margin-top: 0!important;
}
.mr0 {
    margin-right: 0!important;
}
.mb0 {
    margin-bottom: 0!important;
}
.ml0 {
    margin-left: 0!important;
}
.m1 {
    margin: 1rem!important;
}
.mt1 {
    margin-top: 1rem!important;
}
.mr1 {
    margin-right: 1rem!important;
}
.mb1 {
    margin-bottom: 1rem!important;
}
.ml1 {
    margin-left: 1rem!important;
}
.m2 {
    margin: 2rem!important;
}
.mt2 {
    margin-top: 2rem!important;
}
.mr2 {
    margin-right: 2rem!important;
}
.mb2 {
    margin-bottom: 2rem!important;
}
.ml2 {
    margin-left: 2rem!important;
}
.m3 {
    margin: 3rem!important;
}
.mt3 {
    margin-top: 3rem!important;
}
.mr3 {
    margin-right: 3rem!important;
}
.mb3 {
    margin-bottom: 3rem!important;
}
.ml3 {
    margin-left: 3rem!important;
}
.m4 {
    margin: 4rem!important;
}
.mt4 {
    margin-top: 4rem!important;
}
.mr4 {
    margin-right: 4rem!important;
}
.mb4 {
    margin-bottom: 4rem!important;
}
.ml4 {
    margin-left: 4rem!important;
}
.m5 {
    margin: 5rem!important;
}
.mt5 {
    margin-top: 5rem!important;
}
.mr5 {
    margin-right: 5rem!important;
}
.mb5 {
    margin-bottom: 5rem!important;
}
.ml5 {
    margin-left: 5rem!important;
}
.m6 {
    margin: 6rem!important;
}
.mt6 {
    margin-top: 6rem!important;
}
.mr6 {
    margin-right: 6rem!important;
}
.mb6 {
    margin-bottom: 6rem!important;
}
.ml6 {
    margin-left: 6rem!important;
}
.mxn1 {
    margin-left: -1rem!important;
    margin-right: -1rem!important;
}
.mxn2 {
    margin-left: -2rem!important;
    margin-right: -2rem!important;
}
.mxn3 {
    margin-left: -3rem!important;
    margin-right: -3rem!important;
}
.mxn4 {
    margin-left: -4rem!important;
    margin-right: -4rem!important;
}
.mxn5 {
    margin-left: -5rem!important;
    margin-right: -5rem!important;
}
.mxn6 {
    margin-left: -6rem!important;
    margin-right: -6rem!important;
}
.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.p0 {
    padding: 0!important;
}
.pt0 {
    padding-top: 0!important;
}
.pr0 {
    padding-right: 0!important;
}
.pb0 {
    padding-bottom: 0!important;
}
.pl0 {
    padding-left: 0!important;
}
.p1 {
    padding: 1rem!important;
}
.py1 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px1 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.pl1 {
    padding-left: 1rem!important;
}
.pr1 {
    padding-right: 1rem!important;
}
.p2 {
    padding: 2rem!important;
}
.py2 {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
}
.px2 {
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}
.pl2 {
    padding-left: 2rem!important;
}
.pr2 {
    padding-right: 2rem!important;
}
.p3 {
    padding: 3rem!important;
}
.py3 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.px3 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}
.pl3 {
    padding-left: 3rem!important;
}
.pr3 {
    padding-right: 3rem!important;
}
.p4 {
    padding: 4rem!important;
}
.py4 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important;
}
.px4 {
    padding-left: 4rem!important;
    padding-right: 4rem!important;
}
.pl4 {
    padding-left: 4rem!important;
}
.pr4 {
    padding-right: 4rem!important;
}
.p5 {
    padding: 5rem!important;
}
.py5 {
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
}
.px5 {
    padding-left: 5rem!important;
    padding-right: 5rem!important;
}
.pl5 {
    padding-left: 5rem!important;
}
.pr5 {
    padding-right: 5rem!important;
}
.p6 {
    padding: 6rem!important;
}
.py6 {
    padding-top: 6rem!important;
    padding-bottom: 6rem!important;
}
.py8 {
    padding-top: 8rem!important;
    padding-bottom: 8rem!important;
}
.px6 {
    padding-left: 6rem!important;
    padding-right: 6rem!important;
}
.pl6 {
    padding-left: 6rem!important;
}
.pr6 {
    padding-right: 6rem!important;
}
.vertical-center {
    text-align: center;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 30;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.vertical-center-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-flow: column;
    -webkit-justify-content: center;
    justify-content: center;
}
.icon {
    width: 1.5rem;
    display: inline-block;
}
.g-recaptcha iframe {
    transform: scale(0.7);
 filter: url(data:image/svg+xml;
utf8, <svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale);
    filter: gray;
    -webkit-filter: grayscale(99%);
    -webkit-backface-visibility: hidden;
    position: relative;
    left: -3rem;
}
*:focus {
    outline-style: none;
    box-shadow: none;
}
/* Background Images & Heights
================================================== */
.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: multiply;
    z-index: 0;
}

@media screen and (min-width: 64em) {
.bg-fixed {
    background-attachment: fixed;
}
}
.fullscreen-height {
    height: 100vh;
}
.large-height {
    height: 40rem;
}
.medium-height {
    height: 30rem;
}
.small-height {
    height: 8rem;
}

@media screen and (max-width: 39.9375em) {
.large-height {
    height: 15rem;
}
.medium-height {
    height: 10rem;
}
.small-height {
    height: 8rem;
}
}
.tint {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #000;
    opacity: 0.3;
}
/* Animations
================================================== */
.fade-in {
    animation: fade-in 0.5s;
}
 @keyframes fade-in {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
.fade-out {
    animation: fade-out 1s;
}
 @keyframes fade-in {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
.fade-in-up {
    animation: fade-in-up 1s;
}
 @keyframes fade-in-up {
 0% {
 opacity: 0;
 transform: translate3d(0, 50%, 0);
}
 100% {
 opacity: 1;
 transform: none;
}
}
.fade-in-down {
    animation: fade-in-down 1s;
}
 @keyframes fade-in-down {
 0% {
 opacity: 0;
 transform: translate3d(0, -200%, 0);
}
 100% {
 opacity: 1;
 transform: none;
}
}
.fade-in-right {
    animation: fade-in-right 1s;
}
 @keyframes fade-in-right {
 0% {
 opacity: 0;
 transform: translate3d(100%, 0, 0);
}
 100% {
 opacity: 1;
 transform: none;
}
}

/* Forms
================================================== */
::-webkit-input-placeholder {
 color: #999!important;
}
::-moz-placeholder {
 color: #999!important;
}
:-ms-input-placeholder {
 color: #999!important;
}
:-moz-placeholder {
 color: #999!important;
}
/* Page Template
================================================== */
header {
    position: relative;
    z-index: 100;
}
header .logo {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    width: 12rem;
}
header .account.menu {
    position: absolute;
    top: 1rem;
    right: 0;
}
header .account.menu li a {
    display: inline-block;
}
header .main-menu {
    position: relative;
}
.page-content {
    min-height: 70vh;
}
/* Menus
================================================== */

.inline.menu > li, .inline.menu > li > a {
    display: inline-block;
}
/* Icon Menu
================================================== */

#icon-menu-button {
    z-index: 1050;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    position: relative;
}
#icon-menu-button .icon, #icon-menu-button.hover .icon.open {
    display: none;
}
#icon-menu-button .icon.open, #icon-menu-button.hover .icon.close {
    display: inline-block;
    width: 1.3rem;
}
#icon-menu .menu > li:not(.menu-text) > a {
    color: #222!important;
    padding: .8rem 0;
}
#icon-menu.dropdown-pane {
    position: fixed;
    top: 0!important;
    right: 0!important;
    left: auto!important;
    z-index: 1000;
    background: #fff;
    width: 14rem!important;
    min-height: 100vh;
    padding: 4rem 2rem 2rem 2rem;
    border: 0;
}
/* Footer
================================================== */

footer {
    position: relative;
}
.credits {
}
.credits a {
    color: #222;
}
.credits a:hover {
    color: #888;
}
/* Homepage
================================================== */

/* About
================================================== */

/* Contact
================================================== */

/* WebApp
================================================== */

/* E-Commerce - Overall
================================================== */

#cart-summary {
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
}
#catCartSummary {
    display: inline;
}
table.cartSummaryTable {
    border: 0;
}
table.cartSummaryTable td {
    color: inherit;
}
.products ul.productList {
    list-style: none;
    margin: 0;
}
.favoritelink.fav-add:before {
    padding-left: 2rem;
    background-image: url(/Images/Icons/favorite-add.svg);
    background-repeat: no-repeat;
    background-size: 20px;
}
.favoritelink.fav-remove:before {
    padding-left: 2rem;
    background-image: url(/Images/Icons/favorite-remove.svg);
    background-repeat: no-repeat;
    background-size: 20px;
}
/* E-Commerce - Price
================================================== */
.sale-false .sale-price {
    color: #222;
}
.sale-false .retail-price {
    display: none;
}
.sale-true .sale-price {
    color: #e10000;
}
.sale-true .retail-price {
    color: #999;
    margin-left: 0.3rem;
    text-decoration: line-through;
}
/* E-Commerce - List
================================================== */

/* E-Commerce - Detail
================================================== */

input.productTextInput, input.cartInputText {
    width: 3rem;
    text-align: center;
    display: inline-block;
}
.poplets.gallery img {
    margin: 0.9375rem 0;
}
/* E-Commerce - Detail - Accordion
================================================== */
.accordion-title {
    display: block;
    padding: 1rem 0 .5rem 0;
    line-height: 1;
    font-size: .8rem;
    color: #222;
    position: relative;
    border: 0;
    border-bottom: 1px solid #222;
    text-transform: uppercase;
}
.accordion-title:focus, .accordion-title:hover {
    background-color: transparent;
    text-decoration: none;
}
.accordion-title:before {
    right: .5rem;
}
:last-child:not(.is-active)>.accordion-title {
    border-bottom: 1px solid #888;
}
.accordion-content {
    padding: 1rem 0;
    display: none;
    border: 0;
    border-bottom: 0;
    background-color: transparent;
    color: #222;
    font-size: .8rem;
}
.product-detail .accordion-content ul {
    list-style: none;
    margin-left: 0;
}
.product-detail .accordion-content p {
    font-size: .8rem;
}
/* E-Commerce - Stages
================================================== */
.checkout-stages {
    margin-bottom: 4rem;
}
.checkout-stages .stage {
    border-bottom: 2px solid #ccc;
}
.checkout-stages .stage.current {
    color: #222;
    border-bottom: 2px solid #222;
}
/* E-Commerce - Cart
================================================== */

.shop-cart .shop-cart-image {
    margin-bottom: 1rem;
}
.shop-cart .shop-cart-item .icon {
    width: 1rem;
}
.shop-cart button {
    border: 1px solid #ccc;
}
.shop-cart button:hover {
    border: 1px solid #111;
}
.shop-cart-code-input input {
    width: 64%;
    display: inline-block;
}
.shop-cart-code-input button {
    width: 30%;
    display: inline-block;
}
.shop-cart .shop-cart-item hr {
    margin: 1rem;
}
.shop-cart p {
    margin: -0.2rem 0 0.5rem 0;
}
.shop-cart-grand-total p {
    font-size: 2rem;
    color: #222;
}
/* E-Commerce - Checkout
================================================== */
.payment-methods {
    width: 10rem;
}
.checkout textarea {
    height: 11.9rem;
}
.checkout select.small-6.columns {
    padding-right: 2rem;
}
.checkout-notes {
    font-size: .8rem;
}
.checkout-notes input {
    margin: 0 0 0 1rem;
}
.amount-currency, input#Amount {
    font-size: 2rem;
    color: #222;
}
input#Amount {
    background-color: transparent;
    border-style: none;
    border-width: 0;
    border-color: transparent;
    box-shadow: none;
    padding: 0;
    display: inline;
    width: 8rem;
}
img.payment-options {
    width: 5rem;
}
#catwebformbutton {
    margin-top: 2rem;
}
